<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styleCursos.css">
    <title>Rocktor Academy</title>
</head>

<body>
    <header>
        <div class="header-container">
            <a href="../index.html">
                <img src="../img/logo.png" class="logo" alt="Icono Rocktor">
            </a>
            <div class="right-container">
                <div class="buttons">
                    <label for="btn-modal-signIn">
                        <div class="btn-signIn">
                            Sign In
                        </div>
                    </label>
                    <label for="btn-modal-signUp">
                        <div class="btn-signUp">
                            Sign Up
                        </div>
                    </label>
                    <label for="btn-menu-responsive">
                        <img src="../img/menu.png" alt="Menú" class="btn-menu">
                    </label>
                </div>
                <div class="search-container">
                    <img src="../img/search.png" alt="buscar" class="search-img">
                    <input type="search" name="searchInput" id="searchInput" placeholder="Search...">
                </div>
            </div>

        </div>
        <nav class="nav-menu">
            <ul>
                <li class="nav-menu-item">
                    <h3><a href="cursos.html">Cursos</a></h3>
                </li>
                <li class="nav-menu-item">
                    <h3><a href="merchandising.html">Merchandising</a></h3>
                </li>
                <li class="nav-menu-item">
                    <h3><a href="contacto.html">Contacto</a></h3>
                </li>
            </ul>
        </nav>
    </header>

    <section class="curses">
        <article class="curse">
            <div class="first-container">
                <h2>Titulo del curso</h2>
                <img src="../img/wallpapers/default-curse.webp" alt="imagen del curso" class="img-curse">
            </div>
            <div class="second-container">
                <p class="curse-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis minima
                    modi, aspernatur a itaque
                    labore! Ea ex adipisci nisi eum inventore nulla consectetur enim cum a. Nobis quas minima esse.
                    Consequatur veritatis eos illo vel, nostrum exercitationem, qui doloremque maiores quidem facilis
                    at,
                    maxime soluta reiciendis ea esse nulla aspernatur provident. Natus eveniet cumque sapiente inventore
                    delectus pariatur, repellat culpa.
                    Sunt distinctio commodi animi molestiae dicta.</p>
                <br />
                <h3>Duración estimada: 200 Horas</h3>
                <small>Autores: Alberto Campos Gómez</small>
                <h3 class="price-task">95'99€</h3>
                <button class="btn-buy">Adquirir</button>
                <button class="btn-buy-responsive">+</button>
            </div>
        </article>
        <article class="curse">
            <div class="first-container">
                <h2>Titulo del curso</h2>
                <img src="../img/wallpapers/default-curse.webp" alt="imagen del curso" class="img-curse">
            </div>
            <div class="second-container">
                <p class="curse-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis minima
                    modi, aspernatur a itaque
                    labore! Ea ex adipisci nisi eum inventore nulla consectetur enim cum a. Nobis quas minima esse.
                    Consequatur veritatis eos illo vel, nostrum exercitationem, qui doloremque maiores quidem facilis
                    at,
                    maxime soluta reiciendis ea esse nulla aspernatur provident. Natus eveniet cumque sapiente inventore
                    delectus pariatur, repellat culpa.
                    Sunt distinctio commodi animi molestiae dicta.</p>
                <br />
                <h3>Duración estimada: 200 Horas</h3>
                <small>Autores: Alberto Campos Gómez</small>
                <h3 class="price-task">95'99€</h3>
                <button class="btn-buy">Adquirir</button>
                <button class="btn-buy-responsive">+</button>
            </div>
        </article>
        <article class="curse">
            <div class="first-container">
                <h2>Titulo del curso</h2>
                <img src="../img/wallpapers/default-curse.webp" alt="imagen del curso" class="img-curse">
            </div>
            <div class="second-container">
                <p class="curse-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis minima
                    modi, aspernatur a itaque
                    labore! Ea ex adipisci nisi eum inventore nulla consectetur enim cum a. Nobis quas minima esse.
                    Consequatur veritatis eos illo vel, nostrum exercitationem, qui doloremque maiores quidem facilis
                    at,
                    maxime soluta reiciendis ea esse nulla aspernatur provident. Natus eveniet cumque sapiente inventore
                    delectus pariatur, repellat culpa.
                    Sunt distinctio commodi animi molestiae dicta.</p>
                <br />
                <h3>Duración estimada: 200 Horas</h3>
                <small>Autores: Alberto Campos Gómez</small>
                <h3 class="price-task">95'99€</h3>
                <button class="btn-buy">Adquirir</button>
                <button class="btn-buy-responsive">+</button>
            </div>
        </article>
        <article class="curse">
            <div class="first-container">
                <h2>Titulo del curso</h2>
                <img src="../img/wallpapers/default-curse.webp" alt="imagen del curso" class="img-curse">
            </div>
            <div class="second-container">
                <p class="curse-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis minima
                    modi, aspernatur a itaque
                    labore! Ea ex adipisci nisi eum inventore nulla consectetur enim cum a. Nobis quas minima esse.
                    Consequatur veritatis eos illo vel, nostrum exercitationem, qui doloremque maiores quidem facilis
                    at,
                    maxime soluta reiciendis ea esse nulla aspernatur provident. Natus eveniet cumque sapiente inventore
                    delectus pariatur, repellat culpa.
                    Sunt distinctio commodi animi molestiae dicta.</p>
                <br />
                <h3>Duración estimada: 200 Horas</h3>
                <small>Autores: Alberto Campos Gómez</small>
                <h3 class="price-task">95'99€</h3>
                <button class="btn-buy">Adquirir</button>
                <button class="btn-buy-responsive">+</button>
            </div>
        </article>
        <article class="curse">
            <div class="first-container">
                <h2>Titulo del curso</h2>
                <img src="../img/wallpapers/default-curse.webp" alt="imagen del curso" class="img-curse">
            </div>
            <div class="second-container">
                <p class="curse-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis minima
                    modi, aspernatur a itaque
                    labore! Ea ex adipisci nisi eum inventore nulla consectetur enim cum a. Nobis quas minima esse.
                    Consequatur veritatis eos illo vel, nostrum exercitationem, qui doloremque maiores quidem facilis
                    at,
                    maxime soluta reiciendis ea esse nulla aspernatur provident. Natus eveniet cumque sapiente inventore
                    delectus pariatur, repellat culpa.
                    Sunt distinctio commodi animi molestiae dicta.</p>
                <br />
                <h3>Duración estimada: 200 Horas</h3>
                <small>Autores: Alberto Campos Gómez</small>
                <h3 class="price-task">95'99€</h3>
                <button class="btn-buy">Adquirir</button>
                <button class="btn-buy-responsive">+</button>
            </div>
        </article>
    </section>

    <!---------------------------- Estructura de Modal SignUp ---------------------------->
    <input type="checkbox" id="btn-modal-signUp">
    <div class="modal-signUp-container">
        <div class="modal-signUp">
            <div class="btn-close">
                <label for="btn-modal-signUp">
                    <img src="../img/close-modal.png" alt="cerrar" class="img-close-modal">
                </label>
            </div>
            <h2 class="modal-form-title">¡Unete a nosotros!</h2>
            <hr class="personal-hr" />
            <br />
            <form action="" class="form-signUp">
                <input type="text" name="name" placeholder="Nombre" class="input-form">
                <input type="text" name="surnames" placeholder="Apellidos" class="input-form">
                <input type="email" name="email" placeholder="email@email.com" class="input-form">
                <input type="text" name="birthday" placeholder="Fecha de nacimiento" onfocus="(this.type='date')"
                    class="input-form">
                <!-- <hr class="personal-hr"/><br /> -->
                <input type="text" name="userName" placeholder="Nombre de usuario" class="input-form">
                <input type="password" name="pass" placeholder="Contraseña" class="input-form">
                <input type="password" name="confirmPass" placeholder="Confirmar la contraseña"
                    class="input-form"><br />
                <input type="submit" value="Sign Up" class="input-form">
            </form>
        </div>
        <label for="btn-modal-signUp" class="invisible-label-close-modal"></label>
    </div>
    <!------------------------------------------------------------------------------------>

    <!---------------------------- Estructura de Modal SignIn ---------------------------->
    <input type="checkbox" id="btn-modal-signIn">
    <div class="modal-signIn-container">
        <div class="modal-signIn">
            <div class="btn-close">
                <label for="btn-modal-signIn">
                    <img src="../img/close-modal.png" alt="cerrar" class="img-close-modal">
                </label>
            </div>
            <h2 class="modal-form-title">Inicia sesión</h2>
            <hr class="personal-hr" />
            <br />
            <form action="" class="form-signIn">
                <input type="text" name="userName" placeholder="Nombre de usuario" class="input-form">
                <input type="password" name="pass" placeholder="Contraseña" class="input-form">
                <input type="submit" value="Sign In" class="input-form">
            </form>
        </div>
        <label for="btn-modal-signIn" class="invisible-label-close-modal"></label>
    </div>
    <!------------------------------------------------------------------------------------>

    <!---------------------------- Estructura de Menú Responsive ---------------------------->
    <input type="checkbox" id="btn-menu-responsive">
    <div class="modal-menu-responsive">
        <div class="menu-responsive">
            <nav class="nav-menu-responsive">
                <ul>
                    <li class="nav-menu-item">
                        <h3><a href="cursos.html">Cursos</a></h3>
                    </li>
                    <li class="nav-menu-item">
                        <h3><a href="merchandising.html">Merchandising</a></h3>
                    </li>
                    <li class="nav-menu-item">
                        <h3><a href="contacto.html">Contacto</a></h3>
                    </li>
                </ul>
            </nav>
        </div>
        <label for="btn-menu-responsive" class="invisible-label-close-modal"></label>
</body>

</html>